*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root{
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App{
  width:69%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}