*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pageFont';
}

#root{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #d5ddbc;
}

.App{
  width:50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chuck{
  margin: 3.5% 0;
}

