@font-face {
  font-family: 'pageFont';
  src: url(../assets/fonts/pageFont.ttf);
}

@font-face {
  font-family: 'jokeFont';
  src: url(../assets/fonts/jokeFont.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'pageFont';
}

#root{
  width: 100vw;
  display: flex;
  justify-content: center;
  background-color: #d5ddbc;
}

.App{
  width:100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  align-items: center;
}

.chuck{
  margin: 3.5% 0;
}

