.primary{
    background-color: #931f1d;
    padding: 16px 150px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
}

.copy{
    background-color: #aa9190;
    padding: 16px 150px;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: rgb(65, 64, 64);
}

button{
    margin-bottom: 3%;
}

/*responsive*/
@media (max-width: 768px) {
    .primary{
        padding: 16px 50px;
        font-size: 20px;
    }
    .copy{
        padding: 16px 50px;
    }
}