@font-face {
  font-family: 'pageFont';
  src: url(../assets/fonts/pageFont.ttf);
}

@font-face {
  font-family: 'jokeFont';
  src: url(../assets/fonts/jokeFont.ttf);
}

/*mobile*/
@media (max-width: 768px) {
  .chuckImg{
    display: none;
  }
}