@font-face {
  font-family: 'pageFont';
  src: url(../assets/fonts/pageFont.ttf);
}

@font-face {
  font-family: 'jokeFont';
  src: url(../assets/fonts/jokeFont.ttf);
}

.chuck{
  margin: 3.5% 0;
}


/*mobile*/
@media (max-width: 768px) {
  .chuckImg{
    display: none;
  }
}

